/* @author: Christine Perry */

.cube {
   width: 50px;
   height: 50px;
   position: relative;
   padding: 0px;
   transform-style: preserve-3d;
   transform: rotateX(-20deg) rotateY(-45deg);
}

.cube div {
   width: 200px;
   height: 200px;
   position: absolute;
   background: rgba(41, 171, 225, 0.2);
   border: 1px solid;
	 border-color: rgba(41, 171, 225, 0.2);
   box-shadow: inset 0px 0px 30px rgba(41, 171, 225, 0.6);
   text-align: center;
}

.cube .cubeText {
  padding: 50px 0;
  font-size: 62px;
  font-weight: 600;
  font-family: "Playfair Display", times, serif;
	color: #fff;
}

.cube div.top {
   transform: rotateX(90deg);
   margin-top: -100px;
}

.cube div.right {
   transform: rotateY(90deg);
   margin-left: 100px;
}

.cube div.bottom {
  transform: rotateX(90deg);
  margin-top: 100px;
}

.cube div.left {
   transform: rotateY(-90deg);
   margin-left: -100px;
}

.cube div.front {
   transform: translateZ(100px);
}

.cube div.back {
   transform: translateZ(-100px);
}
.smallBlock .cube {
  animation: hoverRotate 7s ease infinite;
	transition: 2s all;
	-moz-transition: 2s all;
	-webkit-transition: 2s all;
	-o-transition: 2s all;
}

.smallBlock {
  transform: scale(0.2);
  transition: opacity 0.3s;
  opacity: 1;
}

.smallBlock.disable {
  transition: opacity 0.3s;
  opacity: 0;
}

.showBlock {
  position: absolute;
  transition: display 0.3s;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  z-index: 9999999;
  width: 100px;
  transform: scale(1.5);
  .cube {
    transform: rotateX(-10deg) rotateY(-67deg) rotateZ(0deg);
  }
  .cube div {
    background: rgba(0, 58, 82, 0.93);
  }
  .cubeText {
    padding: 0px;
  }
  .cubeTextData {
    padding: 3px 5px;
    text-align: left;
    font-size: 0.5rem;
    overflow: hidden;
    word-wrap: break-word;
  }
}

.showBlock.disable {
  transition: display 0.3s;
  display: none;
}


@keyframes hoverRotate {
  50% { transform: rotateX(10deg) rotateY(-35deg) rotateZ(-25deg);}
}

